<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>superheroes</title>
</head>
<body>
    <h1>Hero Details</h1>
    <u1>
        <li><h2>{{single_hero.name}}
                {{single_hero.alter_ego}}
                {{single_hero.primary_ability}}
                {{single_hero.secondary_ability}}
                {{single_hero.catch_phrase}}
        </h2></li>
    </u1>
</body>
</html>