<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Index</title>
</head>
<body>
    <h1>List of Heroes </h1>
    <ul>
        {% for hero in all_heroes %}
        <li><h2> {{hero.name}} - <a href ="{% url 'superheroes:detail' hero.id %}">Click For Details</a> <a href="{% url 'superheroes:edit' %}">Edit This Hero</a> <a href="{% url 'superheroes:delete' hero.id %}">Delete This Hero</a></h2></li>
        {% endfor %}
    </ul>
    <a href="{% url 'superheroes:create' %}">Add New Hero</a>
    {% load static %} 
    <div><img src="{% static 'C:\Users\pfaff\OneDrive\Pictures/Batman.jpg'%}" width="1200" height="675" alt="The Dark Knight."></div>
</body>
</html>